body {
	font-family: 'Arimo', sans-serif;
	color: #FFFFFF;
	background-color: #000066
}
h1 {
	font-family: 'Arimo', sans-serif;
	color: 31F0B1;
}
h4 {
	font-family: 'Arimo', sans-serif;
}
/*p {
	padding: 1px, 1px, 1px, 1px;
}*/
.split_column {
	float:left;
	width:49.5%;
}