body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: #d8da3d
}
h1 {
	font-family: Helvetica, Geneva, Arial,
	SunSans-Regular, sans-serif
}
h4 {
	font-family: Helvetica, Geneva, Arial,
	SunSans-Regular, sans-serif
}
/*p {
	padding: 1px, 1px, 1px, 1px;
}*/
.split_column {
	float:left;
	width:49.5%;
}