body {
	font-family: 'Arimo', sans-serif;
	color: #FFFFFF;
	background-color: #000066
}
h1 {
	font-family: 'Arimo', sans-serif;
	color: 31F0B1;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 10px;
    padding: 1px;
	font-size: 8em;
}
h3 {
	font-family: 'Arimo', sans-serif;
	margin-left: 70px;
	margin-bottom: 5px;
	margin-top: 10px;
    padding: 5px;
	font-size: 2em;
}
h4 {
	font-family: 'Arimo', sans-serif;
	margin-left: 70px;
	margin-top: 5px;
	margin-bottom: 30px;
    padding: 5px;
}
/*p {
	padding: 1px, 1px, 1px, 1px;
}*/
.split_column {
	float:left;
	width:49.5%;
}